*{
    margin: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

section{
    margin-bottom: 50px;
}

h1{
    font-size: 60px;
}

#header{
    display: flex;
}

.width-set{
    width: 50%;
}

.width-set img{
    width: 100%;
}
.spa{
    color: tomato;
}

.skip{
    margin-top: 8%;
    margin-left: 4%;
}

.skip h1{
    color: rgba(0, 0, 0, 0.689);
    text-transform: capitalize;
}

.skip h3{
    margin-top: 20px;
    color: rgba(0, 0, 0, 0.387);

}

.hero{
    margin-top: -40px;
    margin-left: -1%;
    width: 60%;
}

.order-button{
    font-size: 18px;
    text-decoration: none;
    padding: 20px 40px;
    background-image: linear-gradient(rgba(255, 99, 71, 0.466), rgba(255, 0, 0, 0.619));
    border-radius: 20px;
    text-transform: uppercase;
    margin-top: 40px;
    color: #fff;
    font-weight: 700;
}

#about{
    display: flex;
    padding-left: 15%;
    background-image: url(images/shapes/7.png);
    background-repeat: no-repeat;
    background-position: left;
}

.me img{
    height: 500px;
    width: 330px;
}

.aboutMe{
    margin-top: 5%;
    margin-left: -5%;
}

.aboutMe h1{
    font-size: 40px;
    text-transform: capitalize;
    font-weight: 900px;
    color: rgba(0, 0, 0, 0.657);
}

.aboutMe p{
    margin-top: 30px;
    width: 400px;
}

.content h1{
    text-align: center;
    text-transform: capitalize;
    color: rgba(0, 0, 0, 0.59);
    font-size: 40px;
}

.content p{
    padding: 25px 350px;
    font-size: 18px;
    text-align: center;
}

.recipi{
    display: flex;
    padding-left: 35px;
}

.recipi img{
    height: 300px;
    width: 550px;
    
}

.recipi h1{
    font-size: 25px;
    font-weight: 900;
    margin: 25px 0;
}

.recipi p{
    font-size: 18px;
    width: 550px;
}

.recipiOne, .recipiTwo{
    border: 10px solid #fff;
    box-shadow: .1px .1px 50px rgba(0, 0, 0, 0.103);
    margin: 20px;
    border-radius: 20px;
    padding: 25px;
}

.socialMedia{
    display: flex;
    box-shadow: .1px .1px 60px rgba(0, 0, 0, 0.103);
    margin: 50px;
    border-radius: 20px;
}

.socialMedia .item{
    margin: 60px 130px;
}

footer{
    background-color: rgba(0, 0, 0, 0.933);
    height: 250px;
}
.fresh h2{
    margin-left: 45%;
    margin-top: 30px;
    text-transform: capitalize;
    color: rgba(255, 255, 255, 0.393);
    font-size: 28px;
}

.fresh p{
    color: rgba(255, 255, 255, 0.754);
    text-align: center;
    margin-top: 20px;
}
